<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>My-Hood.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A27800E91D3EAA8700A811E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A27800FD1D3EAA8700A811E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A27801081D3EAA8700A811E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
